.row{
    display: block;
    margin: 1em 0;
}

form{
    display: flex;
    flex-flow: row wrap;
    background: white;
    max-width: 1000px;
    margin: 4em auto;
    justify-content: center;
    padding: 5em 0;
}

input {
    border-radius: 10em;
    margin: 0.3em;
    border: #808080 1.3px solid;
}

label {
    font-size: 0.9em;
    letter-spacing: 0.04em;
    padding: 1em 0.2em 1em 1em;
}

button {
    margin-left: 1em;
    border-radius: 1.5em;
    padding: 0.6em 2em;
    cursor: pointer;
    background: #747bf5;
    color: white;
    font-size: 0.8em;
}

button:focus, input:focus, select:focus {
    outline:0;
}

.alert{
    .alert.error{
        background: #FFEFEF;
        border: #FF0000 1px solid;
        color: #FF0000;
        max-width: 400px;
        margin: 1em;
        padding: 0.6em;
        font-size: 0.9em;
    }
    .alert.success{
        background: #F3FFED;
        border: #6EDF5C 1px solid;
        color: #6EDF5C;
        max-width: 400px;
        margin: 1em;
        padding: 0.6em;
        font-size: 0.9em;
    }
}