.PropertiesClass{
    display: flex;
    flex-wrap: wrap;

    article {
        max-width: 1000px;
        background: white;
        margin: 1em auto;
        width: 26%;
        height: 100%;
        @media(max-width: 768px){
            width: 100%;
        }
    }
    
    .grey-row {
        background: #e4e3e3;
        text-align: center;
        padding: 1em 0;
        color: #7e69f8;
    }
    
    .details-container{
        padding: 1em;
    }
    
    .place-container{
        span{
            display: inline-block !important;
            padding: 0px 0.3em 0 0;
        }
    }
    
    span{
        display: block;
        line-height: 1.6em;
        &.bold{
            font-weight: 600;
        }
    }
    
    .purple-row {
        background: #7e69f8; 
        padding: 1em 0;
        text-align: center;
        width: 100%;
        display: block;
    }
    
    a{
        color: white;
        text-decoration: none;
    }
}
